@mixin fonts($family, $path) {
    @font-face {
        font-family: $family;
        src: url('#{$path}.eot');
        src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
        url('#{$path}.woff') format('woff'),
        url('#{$path}.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin boxshadow($horizontal, $vertical, $blur, $spread, $color, $opacity) {
    -webkit-box-shadow: $horizontal $vertical $blur $spread rgba($color, $opacity);
    -moz-box-shadow: $horizontal $vertical $blur $spread rgba($color, $opacity);
    box-shadow: $horizontal $vertical $blur $spread rgba($color, $opacity);
}

@mixin transition($element, $time, $efect) {
    -webkit-transition: $element $time $efect;
    -moz-transition: $element $time $efect;
    -o-transition: $element $time $efect;
    transition: $element $time $efect;
}